@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}




.header{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    object-fit: contain;
 
}

.video--bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  
  

}
.header_logo{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}
.header_nav{
    display: flex;
    
 
}
.header_nav_pages{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10%;
    width: 100%;
}

   
.header_nav_icons--size{
    width: 2vw;
    height: 2vh;
}
.header_ul{
    list-style: none;
    font-family:"Rubik", sans-serif ;
    margin: 0.7% ;


}


.list--item:hover{
    transform: scale(1.5);
    background-color: rgba(255, 255, 255, 0.165);
    border-radius:5px ;
    padding: 0.25%;
    
}
.header_ul_link--item{
    color: #caf0f8;
    text-decoration: none;
    

}
.header_ul_link--item:hover{
    color: #90e0ef;
 
  

}

.humburger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
} 
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;

}














.main{
    background-color: #caf0f8;

}
.main_section_video video{
  

}

.main_article_appeal{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15% 10%;
}


.main_article_appeal_contents{
    line-height: 1.5;
    max-width: 50%;
    text-align: center;
    

}
.main_article_appeal_contents--btn{
    display: flex;
    justify-content: space-around;
    padding: 8% 0;
}
.container_link{
    color: #03045e;
    text-decoration: none;
}
.container_link:hover{
    transform: scale(1.5);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius:5px ;
    padding: 0.25%;
    

}

.container_stat{
    font-weight: 600    ;
}
.appeal_photo{
    width: 100%;
    transform: scale(1.5);
    align-self: flex-end;
    
}
.main_articel_appeal_h1{
    padding: 2%;
    text-align: center;
    font-weight: 700;
    

}
.main_articel_appeal_h2{
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2%;

}
.main_articel_appeal_photos{
    margin: auto;
    
    






}
.main_articel_appeal_history{

}
.main_articel_appeal_usage{

}



.main_section_promotion{
   
    
}
.main_section_promotion_h2{
    text-align: center;
    padding: 2%;
    
}
.main_section_promotion_h3{
    text-align: center;
    padding: 2%;
    
}
.main_section_promotion_shools{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
    
    
}
.main_section_promotion_schools_heading{
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
   
    
    
}
.school--layout{
    display: flex;
    flex-direction: column;
    gap: 10%;
   
    width: 300px;
    height: 280px;
    border-radius: 1rem;
    border-radius: 1rem;
    border-top: #03045e thin solid;
    border-bottom: #03045e solid;
    margin: 5%;
     
    box-shadow: 5px 5px 18px rgba(0, 0, 0,0.2);
  
 
    
}
.school--layout:hover{
    transform: scale(1.01);
    border-top: none;
    border-bottom:none;
    border-left:#03045e solid;
    border-top: #03045e thin solid ;
    
    
}


.school--layout--list{
    margin: 0  auto;
    list-style: none;
    line-height: 1.5;


  
}

.main_section_chooseUs{
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
    
}
.main_section_values{
    display: flex;
    flex-direction: column;
    gap: 10%;

    width: 300px;
    height: 280px;
    border-radius: 1rem;
    border-radius: 1rem;
    border-left: #03045e  solid;
    border-right: #03045e solid;
    margin: 5%;
  
    
}
.main_section_values_list{
    margin: 0  auto;
    list-style: none;
    line-height: 1.5;

    
    
}


.main_section_testimonial{

    padding: 10% 0;
    display: flex;
    justify-content: space-around;
    line-height: 1.5;
   

    


}
.main_section_testimonial_testiomony{
    background-color:  #caf8f571;
    
    text-align: justify;
    width: 30vw;
    padding: 3% 2%;

    
    

}
.main_section_testimonial_testiomony_name{
    text-align: center;
    padding: 2%;

}




.footer{
    height: 10vh;
    background-color: #0077b6;
    display: flex;


}

   
    
.footer_nav{
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    list-style: none;
   width: 100%;

}
.footer_nav_list{
    color: #fff;
    text-decoration: none;
    
}
.footer_nav_logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}











@media(max-width:800px) {
    .video--bg{
        display: none;
    }
    .header{
        background-image: linear-gradient(45deg,#03045e,#0077b6);
        background-size: contain;
        background-repeat:no-repeat ;
        position: relative;
        height: 10vh;
        position: sticky;
        top: 0;
        
    }

    .humburger{
        display: block;
        margin: 2%;
    
    }
    .humburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .humburger.active .bar:nth-child(1){
        transform: translatey(8px) rotate(45deg);
    }
    .humburger.active .bar:nth-child(1){
        transform: translatey(-8px) rotate(-45deg);
    }
    .header_nav_pages{
        position:fixed;
        top: 10%;
        gap: 2%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-image:linear-gradient(45deg,#03045e,#0077b6);
        width: 100%;
        transition: 0.3s;
        margin: 0;
        left: -100%;
       
        
    }
    .list--item{
        margin: 16px 0;

    }
    .header_nav_pages.active{
        left: 0;
         
    }














    .main_article_appeal{
        flex-direction: column;
        
        
    }
    .appeal_photo{
        display: none ;
       
    }
    .main_article_appeal_contents--btn{
        flex-direction: column;
        margin-bottom: 2%;
        align-items: center;
    }

    .school--layout{
        
    }
    .school--layout--list{}
    .main_section_promotion_shools{
        flex-wrap: wrap;
        gap: 10%;
        align-items: center;
        justify-content: space-around;
    }
    .main_article_appeal_contents{
        max-width: 100%;
        text-align: left;

    }
        
    .main_section_testimonial{
        padding: 10% 0;
        display: grid;
        line-height: 1.5;
        width: 100%;
       
    
    
    }
    .main_section_testimonial_testiomony{
        width: 90vw;
        margin: 2% 0;
        padding: 2% 10%;
       
        
    }
    
    .footer{
        height: 50vh;
       


    }
    .footer_nav{
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        line-height: 1.5;
        width: 100%;
        list-style: none;
       
    }
} 
    

               