@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background-color: #0077b6;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 10vh;
    
    
    
}
.header_logo{
    position: absolute;
    top:0;
    left:0;
}
.header_nav{
    display: flex;
  
}
.header_nav_pages{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    gap: 5%;
    list-style: none;
    margin-top: 1%;
    margin-right: 5%;
   
   
}
.hero_article_header{
  text-align: justify;
  padding: 2%;
}
.list--item{
 
}
.list--item:hover{
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:5px ;
  padding: 0.25%;
  
  
}
.header_ul_link--item{
  color: #fff;
  text-decoration: none;
  

}
.header_ul_link--item:hover{
  color:#fff;



}



.main{

}
.main_hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10% auto;


}
.main_hero_article{
  padding: 5%;
  max-width: 50%;

}
.main_hero_article-paragraph{
  text-align: justify;
  line-height: 1.5;
 

}
.main_hero_shool-image{
  text-align: justify;
 
    

}
.hero_image--school{
  border-radius: 2rem;

}

.main_section_our-team{
  display: grid;

   

}


.our_teams{
    font-family: "Inter", sans-serif;
    color: #343a40;

}
.our-team-header{
  text-align: center;
  padding-top: 5%;
}
.carousel  {
    background-color: #caf0f8;
    width: 85vw;
    margin: 8% auto;
    border-radius: 8px;
    padding: 2%;
    padding-left: 10%;
    display: flex;
    align-items: center;
    gap: 20%;
    position: relative;
  }
  .image-left{
    flex-direction: row-reverse;
    padding-left: 10%;
    padding-right: 10%;
  }
 .corusel_img{
    height: 200px;
    border-radius: 8px;
    transform: scale(1.6);

    box-shadow: 0 0 32px rgba(0,0,0,0.4);


  }


.tastemonial{}
.tastemonial-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 32px;
    color: #03045e ;
}
.testimonial-author{
    font-size: 14px;
    color: #03045e ;
    ;
}
.testemonial-job{
    font-size: 12px;
    color: #03045e ;

}  


@media(max-width: 1000px) {
    .carousel  {

        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .corusel_img{
        align-self: center;
        transform: scale(0.9);
      

    }

    

    
}

@media (max-width:400px) {
    .carousel  {
        width: 100vw;
    }
    .table{
      display: none;
    }
}










.table {
    width: 85vw ;
    height: 60vh;
    margin:  15% auto;
    font-size: 1rem;
    /* border: 1px solid #343a40; */
    border-collapse: collapse;

  }
  td, th {
    border: 1px solid /#343a40;
    padding: 16px;
    text-align:left;

  }
  .thead th {
    background-color:  #caf0f8;
    color: #03045e;
    width: 25%;
    text-align: center;
  }
  .tbody tr:nth-child(odd){
    background-color: #f8f9fa;

  }
  .tbody tr:nth-child(even){
    background-color: #e9ecef;

  }





























:root {
    --clr-primary-400: 263 55% 52%;
    --clr-secondary-400: 217 19% 35%;
    --clr-secondary-500: 219 29% 14%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;
  
    --ff-primary: "Barlow Semi Condensed", sans-serif;
  
    --fw-400: 500;
    --fw-700: 600;
  
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

 
  

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
 
  html:focus-within {
    scroll-behavior: smooth;
  }
  

  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  

  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
 
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
 
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  
  .flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }
  
  .bg-primary-400 {
    background: #19445c;
  }
  .bg-secondary-400 {
    background: #19445c;
  }
  .bg-secondary-500 {
    background:#19445c;;
  }
  
  .bg-neutral-100 {
    background: #caf0f8;
  }
  
  .text-neutral-100 {
    color: hsl(var(--clr-neutral-100));
  }
  .text-secondary-400 {
    color: hsl(var(--clr-secondary-400));
  }
  .border-primary-400 {
    border: 2px solid #a775f1;
  }
  

  .testimonial-grid {
    display: grid;
    gap: 2rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five';
  
    padding-block: 2rem;
    width: min(95%, 100rem);
    margin-inline: auto;
  }
  
  .testimonial {
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  }
  
  .testimonial:nth-child(1) {
    grid-area: one;
  }
  .testimonial:nth-child(2) {
    grid-area: two;
  }
  .testimonial:nth-child(3) {
    grid-area: three;
  }
  .testimonial:nth-child(4) {
    grid-area: four;
  }
  .testimonial:nth-child(5) {
    grid-area: five;
  }
  
  @media screen and (min-width: 33em) {
    .testimonial-grid {
        grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  }
  
  @media screen and (min-width: 38em) {
    .testimonial-grid {
      grid-template-areas:
       'one one'
       'two five'
       'three five'
       'four four';
    }
  }
  
  @media screen and (min-width: 54em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
  }
  
  @media screen and (min-width: 75em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two five"
        "three four four five";
    }
  }
  
  
  .testimonial.quote {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
  }
  
  .testimonial img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  
  .testimonial .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
  }
  
  .testimonial .position {
    font-size: var(--fs-300);
    opacity: 0.5;
  }
  
  .testimonial > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
  }
  
  .testimonial > p:last-of-type {
    opacity: 0.7;
  }
























  .footer{
    height: 10vh;
    background-color: #0077b6;
    display: flex;


}

   
    
.footer_nav{
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;

}
.footer_nav_list{
    color: #fff;
    text-decoration: none;
    
}
.footer_nav_logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}







@media(max-width:800px) {
  .main_hero{
    flex-direction: column;
  }
  .main_hero_article{
    max-width: 100%;
  }
    
    
    
    .main_hero_shool-image{
        display: none;
    
    }
    .footer{
      height: 50vh;
    }
    
    
    
    .footer_nav{
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        line-height: 1.5;
        width: 100%;
        list-style: none;
       
    }
    
    
}