@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: #e5e5e5;
   
}
.header{
    background-color: #0077b6;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 10vh;
    
    
    
}
.header_logo{
    position: absolute;
    top:0;
    left:0;
}
.header_nav{
    display: flex;
  
}
.header_nav_pages{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    gap: 5%;
    list-style: none;
    margin-top: 1%;
    margin-right: 5%;
   
   
}
.hero_article_header{
  text-align: justify;
  padding: 2%;
}
.list--item{
 
}
.list--item:hover{
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:5px ;
  padding: 0.25%;
  
  
}
.header_ul_link--item{
  color: #fff;
  text-decoration: none;
  

}
.header_ul_link--item:hover{
  color:#fff;



}

.humburger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
} 
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;

}






.main{
  
}
.main_contacts_title{
    text-align: center;
    margin: 1.5% auto;

}
.main_contacts_address{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    


}
.address--list{
    background-color: rgb(230, 225, 225);
    border: #0077b6 solid;
    padding: 2% 5%;
    margin: 2%;
    list-style: none;

}


.main_aside_map-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.main_aside_map{
    width: 50%;
    margin: 2% 0.2%;

}
.main_aisde_form{
    

    

}
.form_container{
   

}
.form--to--flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  
}
.contact-btn{
    margin: 10% 0;
}


.form-main{
	width: 40%;
}




.form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
	
	
	
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}


#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


















.footer{
    height: 10vh;
    background-color: #0077b6;
    display: flex;


}

   
    
.footer_nav{
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;

}
.footer_nav_list{
    color: #fff;
    text-decoration: none;
    
}
.footer_nav_logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}












@media(max-width:800px) {
  
    .main_contacts_address{
       flex-direction: column;
       align-items: center;
       width: 60vw;
       margin: auto;
        
      
       
      
    }

    .address--list:nth-child(even){
        background-color: rgb(230, 225, 225);
        border: #0077b6 solid;
        padding: 2%;
        margin: 2%;
       
        

    }
    .address--list:nth-child(odd){
        background-color:rgb(210, 207, 207);
        border: #0493bd solid;
        padding: 2%;
        margin: 2%;

    }
    .form-main{
        width: 80%;
        margin: 5%;
    }
     
    .footer{
        height: 50vh;
       

    }
    .main_aside_map{
        width: 80%;
        
        
    }
    .footer_nav{
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        line-height: 1.5;
        width: 100%;
        list-style: none;
        
    }

    .humburger{
        display: block;
        margin: 2%;
    
    }
    .humburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .humburger.active .bar:nth-child(1){
        transform: translatey(8px) rotate(45deg);
    }
    .humburger.active .bar:nth-child(1){
        transform: translatey(-8px) rotate(-45deg);
    }
    .header_nav_pages{
        position:fixed;
        top: 10%;
        gap: 2%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-image:linear-gradient(45deg,#03045e,#0077b6);
        width: 100%;
        transition: 0.3s;
        margin: 0;
        left: -100%;
       
        
    }
    .list--item{
        margin: 16px 0;

    }
    .header_nav_pages.active{
        left: 0;
         
    }

}
    
    
